body {
    padding: 0 10%
}
.p-letter {
    font-weight: bold;
    font-size: 48px;
}
.logo {
    width: 60px;
    height: 60px;
}
.brand {
    display: inline-flex;
    gap: 5px;
    align-items: center;
}
.brand-text {
    font-size: 36px;
}
.navbar-items {
    list-style: none;
    display: flex;
    padding: 0;
    width: 600px;
    justify-content: space-between;
}
.navbar-items li {
    display: inline;
    font-size: 21px;
    font-family: 'Serif';
}
.download-cv,
.hire-me {
    background-color: #FD6F00;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 52px;
    font-size: 21px;
}
.hire-me {
    width: 50%;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px
}
.nav-items {
    display: flex;
    align-items: center;
    gap: 10px
}
.bio {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}
.info-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-developer {
    margin: 0;
    padding: 0;
    margin-left: 60px
}
.info-web {
    margin: 0;
    padding: 0;
}
.info-hi {
    font-size: 21px;
}
.info-fullname {
    font-size: 32px;
    color: #FD6F00;
}
h2 {
    font-size: 48px;
}
.bio-about {
    display: flex;
    justify-content: space-between;
    gap: 12rem;
}
.me-container {
    position: relative;
    width: 50%;
}
.me-picture {
    position: absolute;
    top: -1px;
    right: -1px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 400px;
    height: 400px;
}
.me-border {
    width: 400px;
    height: 400px;
}
.contact-icons {
    align-self: end;
    width: 400px;
    display: flex;
    justify-content: center;
    gap: 20px
}
.about-me {
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
}
.progress-container {
    display: flex;
    flex-direction: column;
}
.my-range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: #FD6F00;
    border: 3px #FFF solid;
}
.my-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* For WebKit browsers */
  width: 20px;
  height: 20px;
  background-image: url('../pictures/logo.png');
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add shadow */
}
.carousel-items-container {
    display: flex;
    overflow: hidden;
    height: 250px;
}
.carousel-item {
    width: 100%;
    display: flex;
    gap: 60px;
    align-items: center;
}
.carousel-item:nth-child(1) {
    flex-shrink: 0;
}
.carousel-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.quote {
    flex-wrap: wrap;
}
.carousel-picture {
    width: 200px;
    height: 200px;
}
.carousel-name {
    font-weight: bold;
}
.indicators {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}
.indicators span {
    display: flex;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: #DFDFDF;
}
.indicators span.active {
    background-color: #FD6F00;
}